.icon-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .hint {
    visibility: hidden;
    width: 150px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 0.75rem 0.5rem;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position the tooltip above the icon */
    left: 50%;
    margin-left: -75px; /* Use half of the width to center the tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .hint::after {
    content: "";
    position: absolute;
    top: 100%; /* Arrow at the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .icon-container:hover .hint {
    visibility: visible;
    opacity: 1;
  }